* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  font-family: "Poppins", sans-serif;
}
.hero-section {
  position: relative;
  height: 100vh;
  overflow: hidden;
}
#bg_vdo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
header {
  width: 100%;
  background: transparent;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px 8%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}
.navigation {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  justify-content: space-between;
  padding: 0 10vw;
  z-index: 10;
  align-items: center;
  display: flex;
  transition: 0.3s ease-in-out;
  transition-delay: 0.2s;
  z-index: 1000;
}

.logo img {
  height: 40px;
}
.nav_pan {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.nav_pan li {
  display: inline-block;
}
.nav_pan li a {
  text-decoration: none;
  font-weight: 600;
  color: black;
  font-size: 15px;
  transition: color 0.3s ease;
}
.nav_pan li a:hover {
  cursor: pointer;
}
.navigation button {
  background-color: #000;
  color: white;
  border-radius: 20px;
  padding: 10px 16px;
  cursor: pointer;
}
.navigation button:hover {
  background-color: gray;
}
.nav_pan li button:hover {
  cursor: pointer;
}
.nav_pan button {
  background: #222;
  color: #fff;
  padding: 8px 16px;
  border-radius: 11px;
  transition: 0.3s ease-in-out;
  font-weight: 600;
}
.nav_pan button:hover {
  cursor: pointer;
  background: rgb(146, 198, 68);
  color: black;
}
.hero {
  text-align: center;
  padding: 60px 20px;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: relative;
  z-index: 1;
}
.hero h1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: black;
}
.hero h1 span {
  color: black;
  font-weight: lighter;
}
.hero p {
  margin: 45px 0;
  font-size: 18px;
  color: #444;
}
.partners {
  margin: 30px 0;
  display: flex;
  justify-content: center;
  gap: 40px;
}
.partners img {
  height: 30px;
  filter: grayscale(20%);
  cursor: pointer;
}
.partners img:hover {
  scale: 1.05;
}
.cta {
  background: #222;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: bold;
  padding: 25px 30px;
  border: none;
  border-radius: 16px;
  cursor: pointer;
  font-size: 20px;
  transition: 0.2s ease-in-out;
  width: 400px;
  /* margin-left: 380px; */
}
.cta:hover {
  background: yellowgreen;
}
.hero1 {
  background-color: #f1ffc5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20vh 10vh;
  gap: 40px;
}
.along {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.neon {
  background: #a5ff08;
  padding: 80px 20px;
  /*min-height: 1000px;*/
  position: relative;
  border-radius: 30px;
  width: 100%;
  gap: 30px;
}
.neon p {
  font-size: 16px;
  color: #222;
  margin-bottom: 40px;
  font-weight: 400;
}
.price {
  position: absolute;
  top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 100%;
}
.price h4 {
  background: hsla(0, 0%, 100%, 0.4);
  text-align: center;
  padding: 12px 24px;
  height: auto;
  font-weight: 600;
  border-radius: 20px;
  left: 50px;
}

.card_cont {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  width: 100%;
  h2 {
    color: rgb(90, 94, 169);
    font-size: xx-large;
    text-align: center;
  }
}
.bene1 {
  background: #c9ff6b;
  background-image: url(assets/card_img\ 1.jpeg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  border-radius: 20px;
  padding: 80px 20px;
  width: 28%;
  min-height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.bene2 {
  background: #c9ff6b;
  background-image: url(assets/card_img2.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  border-radius: 20px;
  padding: 80px 20px;
  width: 28%;
  min-height: 350px;
  display: flex;
  flex-direction: column;
}
.bene3 {
  background: #c9ff6b;
  background-image: url(assets/card_img3.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  border-radius: 20px;
  padding: 80px 20px;
  width: 28%;
  min-height: 350px;
  display: flex;
  flex-direction: column;
}
.bene h2 {
  color: #000;
  text-align: center;
  margin-bottom: 20px;
}
.bene img {
  height: 60px;
  object-fit: contain;
}
.perks {
  background-color: #f1ffc5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10vh;
}
.neon2 {
  padding: 80px 20px;
  /*min-height: 1000px;*/
  position: relative;
  border-radius: 30px;
  width: 87vw;
  gap: 30px;
}
.neon2 p {
  font-size: 16px;
  color: #222;
  margin-bottom: 40px;
  font-weight: 400;
}
.card_cont2 {
  display: flex;
  justify-content: center;
  gap: 70px;
  flex-wrap: wrap;
  width: 100%;
  h2 {
    font-size: xx-large;
  }
}
.ben1 {
  background: #f7ffdc;
  background-image: url(assets/card_img\ 1.5.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  cursor: pointer;
  border-radius: 40px;
  padding: 80px 20px;
  width: 20%;
  min-height: 400px;
  display: flex;
  flex-direction: column;
}
.ben1:hover {
  scale: 1.04;
  transition: 1ms ease-in-out;
}
.ben2 {
  background: #f7ffdc;
  background-image: url(assets/lifetime.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  border-radius: 40px;
  padding: 80px 20px;
  width: 20%;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.ben2:hover {
  scale: 1.04;
  transition: 1ms ease-in-out;
}
.ben3 {
  background: #f7ffdc;
  background-image: url(assets/virtual.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  border-radius: 40px;
  padding: 80px 20px;
  cursor: pointer;
  width: 20%;
  min-height: 400px;
  display: flex;
  flex-direction: column;
}
.ben h2 {
  color: #000;
  text-align: center;
  margin-bottom: 20px;
}
.ben3:hover {
  scale: 1.04;
  transition: 1ms ease-in-out;
}
.ben img {
  height: 60px;
  object-fit: contain;
}
.neon3 {
  /* padding: 20px 20px; */
  /*min-height: 1000px;*/
  position: relative;
  border-radius: 30px;
  width: 100%;
  gap: 30px;
}
.neon3 p {
  font-size: 16px;
  color: #222;
  margin-bottom: 40px;
  font-weight: 400;
}
.price2 {
  position: absolute;
  top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 70%;
}
.price2 h1 {
  /*right: 30px;
    background: #c9ff6b;
    color: #000;
    /*padding: 8px 18px;
    border-radius: 20px;
    font-weight: 600;
    font-size: 14px; */
  justify-items: center;
  font-size: 60px;
}

.partners2 {
  background: #f1ffc5;
  text-align: center;
  padding: 80px 20px;
}
.partners2 h1 {
  font-size: 2rem;
  margin-bottom: 40px;
  color: #222;
}
.card_cont3 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}
.part {
  background: #fff;
  border-radius: 15px;
  padding: 40px 50px;
  transition: transform 0.3s ease;
  flex: 1 1 250px;
  max-width: 280px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.part:hover {
  scale: 1.1;
  transition: 1ms ease-in-out;
}
.part img {
  max-width: 150px;
  height: auto;
  object-fit: contain;
}
.testimonial {
  background: #f4ffeb;
  padding: 80px 20px;
  text-align: center;
  font-family: Sora_3cdff3;
}

.testimonial h2 {
  font-size: 2rem;
  margin-bottom: 50px;
  color: #222;
}
.test_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
}
.test_card {
  background: #fff;
  border-radius: 80px;
  padding: 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
  max-width: 900px;
  text-align: left;
  height: 300px;
  transition: transform 0.3s ease;
}

.test_card:hover {
  transform: translateY(-5px);
  cursor: pointer;
}
.test_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
  gap: 15px;
}

.user_img {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  object-fit: cover;
}

.user_info h3 {
  margin: 0;
  font-size: 1rem;
  font-weight: 600;
}

.stars {
  color: #4caf50;
  font-size: 0.9rem;
}

.savings {
  background: #e6f4e1;
  color: #333;
  font-size: 0.9rem;
  padding: 6px 12px;
  border-radius: 12px;
  font-weight: 600;
}

.savings span {
  color: #1b8a3a;
}

.test_card p {
  font-size: 0.95rem;
  color: #444;
  line-height: 1.5;
}
.love-us {
  padding: 80px 20px;
  text-align: center;
}

.love-us h2 {
  font-size: 2rem;
  margin-bottom: 50px;
  color: #222;
}
.love-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.love-card {
  flex: 1 1 250px;
  max-width: 300px;
  border-radius: 20px;
  padding: 40px 20px;
  color: #111;
  font-size: 1.1rem;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease;
}

.love-card:hover {
  transform: translateY(-5px);
}
.love-card .icon {
  font-size: 2.5rem;
  margin-bottom: 20px;
  font-weight: bold;
}

.love-card.purple {
  background: #e8d8f9;
  color: #3a237e;
  cursor: pointer;
}

.love-card.green {
  background: #d9f7c9;
  color: #276738;
  cursor: pointer;
}

.love-card.pink {
  background: #fbd0e9;
  color: #7e1c4f;
  cursor: pointer;
}
.payment {
  text-align: center;
  padding: 80px 20px;
  background: #fdfdfd;
}

.payment h2 {
  font-size: 2rem;
  margin-bottom: 40px;
  color: #222;
}
.payment_card {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 20px;
  height: 400px;
  flex-wrap: wrap;
  margin-bottom: 60px;
}
.pay_card {
  background: #fff;
  padding: 40px 30px;
  border-radius: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
  width: 150px;
  gap: 30px;
  cursor: pointer;
  text-align: center;
  transition: transform 0.3s ease;
  rotate: -30deg;
  margin-bottom: 50px;
}

.pay_card img {
  width: 60px;
  margin-bottom: 15px;
  margin-left: 20px;
}

.pay_card .amount {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 5px;
}

.pay_card .label {
  font-size: 0.9rem;
  color: #666;
  text-transform: uppercase;
}
.pay_card_coffee {
  padding: 5% 30px;
  height: 300px;
  /* border: 2px solid ; */
  transform: rotate(10deg);
  background: #fff;
  padding: 40px 10px;
  border-radius: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
}
.pay_card_left {
  transform: rotate(-30deg);
  opacity: 0.3;
}

.pay_card_right {
  transform: rotate(30deg);
  opacity: 0.3;
  padding: 20px 20px;
  height: 200px;
  cursor: pointer;
  /* border: 2px solid ; */
}

.pay_card_center {
  transform: scale(1.2);
  height: 200px;
  cursor: pointer;
  margin-bottom: 50px;
  background: #fff;
  padding: 40px 30px;
  border-radius: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
  /* border: 2px solid ; */
}
.pay_card:hover {
  transform: scale(1.05);
  opacity: 1;
  padding: 5% 30px;
  height: 300px;
  border: 2px solid;
}
.payment_options {
  display: inline-flex;
  background: black;
  border-radius: 50px;
  padding: 10px;
}

.payment_options .option {
  border: none;
  color: white;
  background: transparent;
  padding: 15px 25px;
  border-radius: 50px;
  font-size: 0.95rem;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.payment_options .option_active {
  color: black;
  background: white;
  border-radius: 50px;
  padding: 15px;
  cursor: pointer;
}
.take_credit {
  text-align: center;
  padding: 80px 20px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
}

.credit_card img {
  /* width: 50%; */
  margin-bottom: 30px;

  border-radius: 30px;
}

.take_credit h2 {
  font-size: 2rem;
  font-weight: bold;
  color: #111;
  margin-bottom: 40px;
  line-height: 1.3;
}

.partnership {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.partnership img {
  height: 35px;
  object-fit: contain;
  filter: grayscale(100%); /* gives subtle muted look */
  transition: filter 0.3s ease;
}

.partnership img:hover {
  filter: grayscale(0%);
}

.apply_btn {
  background: #111;
  color: #fff;
  padding: 14px 40px;
  border: none;
  border-radius: 12px;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}

.apply_btn:hover {
  background: #c87a7a;
  scale: 1.03;
  transition: 0.2s ease-in-out;
}
.faq_section {
  padding: 80px 20px;
  background: #fff;
  color: #111;
  text-align: center;
}
.faq_title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 40px;
}
.faq_container {
  max-width: 800px;
  margin: 0 auto;
  text-align: left;
}
.faq_item {
  border-bottom: 1px solid #fdfdfd;
  margin-bottom: 10px;
}
.faq_question {
  width: 100%;
  background: none;
  border: none;
  outline: none;
  text-align: left;
  font-size: 1.1rem;
  font-weight: 500;
  padding: 15px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.faq_icon {
  font-size: 1.5rem;
  transition: transform 0.3s ease;
}
.faq_answer {
  max-height: 0;
  overflow: hidden;
  padding: 0 15px;
  font-size: 0.95rem;
  color: #444;
  line-height: 1.5;
  transition: max-height 0.3s ease;
}
footer {
  background: black;
  color: white;
  display: flex;
  flex-direction: row;
  gap: 60px;
  margin-top: 30px;
  flex-wrap: wrap;
  justify-content: space-between;
  /* height: 80vh; */
  padding: 20px;
}
.foot_1 {
  padding: 55px;
}
.foot_3 a {
  text-decoration: none;
  color: white;
}
.foot_3 p {
  line-height: 1.4;
}
.foot_3 p {
  margin-top: 10px;
}
.company li {
  margin-top: 20px;
}
.border {
  border: 1px solid #fff;
  height: 24px;
  width: 0;
  margin-top: 20px;
  padding-top: 10px;
}
.download {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.download img {
  height: 24px;
}
.platforms {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.certificates {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}
.underline {
  border: 1px solid #fff;
  height: 0;
  width: 80%;
  margin-left: 6%;
  margin-top: 5px;
}
.copyright {
  margin-left: 30%;
  font-size: medium;
}
.foot_2 {
  margin: 20px 1px;
}
.foot_2 h1 {
  padding: 10px;
  margin-bottom: 20px;
}
.foot_2 p {
  padding-top: 85px;
}
.foot_2 a {
  padding-top: 10px;
}
.foot_1 p {
  padding-top: 30px;
}
.foot_1 a {
  padding-top: 20px;
}
.foot_1 .border {
  margin-top: 20px;
}
@media (max-width: 425px) {
  * {
    max-width: 100vw;
  }
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    .nav_pan {
      display: none;
    }
  }
  .hero {
    .partners {
      display: none;
    }
  }
  .cta {
    width: 70vw;
  }
  .card_cont {
    display: flex;
    justify-content: space-around;
  }
  .price {
    max-width: 100vw;
    .along {
      max-width: 100vw;
      img {
        width: 40vw;
      }
      p {
        font-size: small;
      }
    }
    .price {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      max-height: 50vh;
    }
  }
  .payment_card {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 70vh;
    max-width: 100vw;
    overflow: scroll;
    flex-direction: column;
  }
  .payment_options {
    .option_active {
      padding: 3px;
    }
    .option {
      padding: 1px;
    }
  }
  .neon3 {
    max-width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    .price2{
      display: flex;
      justify-content: space-around;
      align-items: center;
      gap: 10px;
      h1 {
        font-size: x-large;
      }
    }
  }
}
